.notification {
    color: white;
    text-decoration: none;
    padding: 0px 0px;
    position: relative;
    display: inline-block;
    border-radius: 0px;
}

.notification .badge {
    position: absolute;
    top: -8px;
    right: 2px;
    padding: 3px 5px;
    border-radius: 50%;
    background: black;
    color: white;
}